#main{
    width: 960px;
    margin-left:auto;
    margin-right: auto;
    background-color:black
        }
#head{
    height: 100px;
    width: 900px;
    margin-left:auto;
    margin-right: auto;
    background-color:beige;
    }


#detail{
    min-height: 960px;
    height: 600px;
    width: 900px;
    margin-left:auto;
    margin-right: auto;
    background-color:aquamarine;
    }
#footer{
    height: 50px;
    width: 900px;
    margin-left:auto;
    margin-right: auto;
    background-color:blueviolet;
    }
